/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family:'Indie Flower',Oswald;
  font-size: 2.0em;
  height: 2000
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
@media screen and (max-width: 768px) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .sombreado{
    -webkit-box-shadow: 7px 9px 32px 0px rgba(0,0,0,0.71);
    -moz-box-shadow: 7px 9px 32px 0px rgba(0,0,0,0.71);
    box-shadow: 7px 9px 32px 0px rgba(0,0,0,0.71);
  }

  .opcionesAnimacion1 {
  /*  -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;

    animation-duration: 3s;
    animation-delay: 2s;*/

  }
  .opcionesAnimacion2 {
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 1.0s;
    animation-duration: 3s;
    animation-delay: 1.0s;
  }
}
.altura{
  min-height: 4000px;
  height: 4000px;
}


td {
  padding-left: 15px;
}
table{
 margin: 0 auto;
}

input{
  margin-bottom: 10px;
}
button{
  margin-left:15px;
}

.cabeceraDatos{
  background-color:#AEDD6E;
  padding:15px;
  
  margin:10px; 
  width:150px; 
  text-align:center;
  
  -webkit-border-radius: 0px 200px 0px 200px;
  -moz-border-radius: 0px 200px 0px 200px;
  border-radius: 0px 200px 0px 200px;

}

.datos{
  background-color:#D4FF99;
  border-radius: 15px;
  margin-bottom: 10px;
}


.colorFondo1{
  background-color: #DAC6AB;
}

.colorFondo2{
  background-color: #CED5B8;
}




.opcionesAnimacionDias{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.parpadeoRapido{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  /*
    -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
  */  
}





/*
#titulo{
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
  animation: fadeIn 4s;
}
#buscador.ng-show{
  -webkit-animation: lightSpeedIn 2s;
  -moz-animation: lightSpeedIn 2s;
  -ms-animation: lightSpeedIn 2s;
  animation: lightSpeedIn 2s;
}
*/



#prediccion.ng-hide-remove{
  -webkit-animation: bounceInLeft 2s;
  -moz-animation: bounceInLeft 2s;
  -ms-animation: bounceInLeft 2s;
  animation: bounceInLeft 2s;
}


#prediccion.ng-hide-add{
  -webkit-animation: bounceOutRight 2s;
  -moz-animation: bounceOutRight 2s;
  -ms-animation: bounceOutRight 2s;
  animation: bounceOutRight 2s;
}
.iconos {
  -webkit-animation: flipInX 8s;
  -moz-animation: flipInX 8s;
  -ms-animation: flipInX 8s;
  animation: flipInX 8s;

  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 3s;
  -webkit-animation-iteration-count: 3;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-iteration-count: 3;
}

.iconos.ng-click {
  -webkit-animation: fadeOut 2s;
  animation: fadeOut 1s;
}





