
<br>
<div class="form-group ng-show" ng-show="mostrar"  id="buscador">
	<div class="col-xs-12 col-md-6 col-lg-8">
		<input type="text"   class="form-control "   ng-model="buscador" ng-change="muestraPorZona(buscador,'es')" ng-click="reinicio()" placeholder="Madrid,es">
	</div>
	<button class="btn btn-primary" type="button" ng-click="muestraPorGeo()">GeoTiempo</button>
</div>


<div ng-hide="ocultar" id="prediccion" class="ng-hide" >
	<div class="jumbotron datosGenerales">
		<h3 ng-bind-html="posicion.lugar"></h2>

			<table>
				<tr><td>Estado:</td><td>{{prediccionActual.estadoCielo}}</td></tr>
				<tr>
					<td><img  ng-src="http://openweathermap.org/img/w/{{prediccionActual.imagen}}.png"/>  </td>
					<td>{{prediccionActual.temperatura}}</td>
				</tr>
				<tr>
					<td>Humedad:</td>
					<td>{{prediccionActual.humedad}}</td>
				</tr>
				<tr>
					<td>Viento:</td>
					<td>{{prediccionActual.viento}}</td>
				</tr>
				<tr>
					<td>Nubes:</td>
					<td>{{prediccionActual.nubes}}</td>
				</tr>
				<tr>
					<td>LLuvia:</td>
					<td>{{prediccionActual.lluvia}}</td>
				</tr>
				<tr>
					<td>Nieve:</td>
					<td>{{prediccionActual.nieve}}</td>
				</tr>
			</table>
		</div>
		{{posicion.lugar2}}
		<div ng-repeat="x in datosDias" style="text-align:center">

			<div ng-if="x.dt_txt.substr(11,19) === '00:00:00' " >
				<br><br>

				<div class="cabeceraDatos">{{x.dt_txt.substr(8,2)}}-{{x.dt_txt.substr(5,2)}}-{{x.dt_txt.substr(2,2)}}  <br> </div>
			</div>

			<div class="datos">
				{{x.dt_txt.substr(11,5)}} <span class="iconos"><img  ng-src="http://openweathermap.org/img/w/{{x.weather[0].icon}}.png"/> </span>   {{Math.round(x.main.temp)}}ºC - {{x.weather[0].description}} -  h: {{Math.round(x.main.humidity)}}% - V: {{(x.wind.speed*3.6).toFixed(2)}} km/h 
				<span ng-if="x.rain['3h']>0" style="color:#F7621B;font-weight:bold;">
					- Lluvia: {{x.rain['3h']}}mm
				</span>
				<span ng-if="x.snow['3h']>0" style="color:#F7621B;font-weight:bold;">
					- Nieve: {{x.snow['3h']}}mm
				</span>

			</div>

		</div>

	</div>
